<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gs.dao.BankCardDAO">


    <insert id="save" parameterType="com.gs.bean.BankCard" >
        <![CDATA[
          insert into t_bankcard(uid, cardno, rname, idno, type, state, date) values
          (#{uid},#{cardno},#{rname},#{idno},#{type},#{state},#{date})
        ]]>
    </insert>

    <select id="getById" resultType="long">
        <![CDATA[
		select * from t_bankcard where bcid=#{id}
		]]>
    </select>

    <select id="countCriteria" resultType="long">
        <![CDATA[
		select count(bcid) from t_bankcard where cardno=#{cardno}
		]]>
    </select>

    <select id="getBylistAll" parameterType="long" resultType="com.gs.bean.BankCard">
        <![CDATA[
		select * from t_bankcard where uid=#{id};
		]]>
    </select>

    <delete id="removeById" parameterType="long">
        <![CDATA[
          delete t_bankcard where uid={id}
        ]]>
    </delete>

</mapper>