<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gs.dao.BorrowApplyDAO">

    <sql id="jkb_query_common">
        from t_borrowapply ba,t_borrowdetail bd,t_bz bz,t_jklx j,t_sway s
        where ba.baid = bd.baid
        and ba.bzid = bz.bzid
        and ba.lxid = j.lxid
        and ba.sid = s.sid
        and ba.state = 1
    </sql>

    <sql id="jkb_query_criteria">
        <if test="query != null and query.bzid != null">
            and bz.bzid = #{query.bzid}
        </if>
        <if test="query != null and query.term != null">
            and ba.term = #{query.term}
        </if>
        <if test="query != null and query.nprofit != null">
            and bd.nprofit = #{query.nprofit}
        </if>
        <if test="query != null and query.cpname != null and query.cpname != ''">
            and bd.cpname like concat('%', #{query.cpname}, '%')
        </if>
    </sql>
    <insert id="save" parameterType="borrowApply">
        <selectKey keyColumn="baid" keyProperty="baid" resultType="long" order="AFTER">
            SELECT LAST_INSERT_ID();
        </selectKey>
        <![CDATA[
          insert into t_borrowapply(rname,money,uid,bzid,lxid,term,deadline,sid) values(#{rname},#{money},#{uid},#{bzid},#{lxid},#{term},#{deadline}),#{sid})
        ]]>
    </insert>

    <select id="listAll" resultType="com.gs.bean.BorrowApply">
        <![CDATA[
        select * from t_borrowapply where state = 0;
    ]]>
    </select>

    <select id="listPagerCriteria" resultType="com.gs.vo.JkbVO">
        select ba.baid,ba.rname,ba.money,ba.state,ba.term,
        bd.bdid as bdid,bd.nprofit as nprofit,bd.cpname as cpname,bd.fpic as fpic,bd.ypic as ypic,
        bd.qpic as qpic,bd.tpic as tpic,bd.mpurpose as mpurpose,bd.hksource as hksource,bd.suggest as suggest,
        bd.xmdescrip as xmdescrip,bd.guarantee as guarantee,bd.way as way,
        bz.bzid as bzid,bz.bzname as bzname,j.lxid as lxid,j.lxname as lxname,s.sid as sid,s.way as way
        <include refid="jkb_query_common" />
        <include refid="jkb_query_criteria" />
        limit #{pager.beginIndex}, #{pager.pageSize}
    </select>
    <select id="countCriteria" resultType="long">
        select count(ba.baid)
        <include refid="jkb_query_common"/>
        <include refid="jkb_query_criteria"/>
    </select>

</mapper>