<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gs.dao.BorrowDetailDAO">

    <insert id="save" parameterType="borrowDetail">
        <selectKey keyColumn="bdid" keyProperty="bdid" resultType="long" order="AFTER">
            SELECT LAST_INSERT_ID();
        </selectKey>
        <![CDATA[
          insert into t_borrowdetail(mpurpose,hksource,suggest,xmdescrip,guarantee,nprofit,cpname,baid,sqtime)
          values(#{mpurpose},#{hksource},#{suggest},#{xmdescrip},#{guarantee},#{nprofit},#{cpname},#{baid},CURRENT_TIMESTAMP )
        ]]>
    </insert>

    <update id="updatePic" parameterType="borrowDetail">
        <![CDATA[
         update t_borrowdetail
        ]]>
        <set>
            <if test="fpic != null and fpic!=''">
                fpic = #{fpic},
            </if>
            <if test="ypic != null and ypic!=''">
                ypic = #{ypic},
            </if>
            <if test="tpic != null and tpic!=''">
                tpic = #{tpic},
            </if>
            <if test="qpic != null and qpic!=''">
                qpic = #{qpic},
            </if>
        </set>
        where baid = #{baid}
    </update>

    <update id="update" parameterType="borrowDetail">
        <![CDATA[
         update t_borrowdetail set mpurpose = #{mpurpose}, hksource = #{hksource},suggest = #{suggest},xmdescrip = #{xmdescrip},
         guarantee = #{guarantee},nprofit = #{nprofit}
           where baid = #{baid}
        ]]>
    </update>



</mapper>