<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gs.dao.LogMoneyDAO">

    <select id="getByUserId" resultType="com.gs.bean.LogMoney">
        <![CDATA[
		select * from t_logmoney
		where uid = #{user_id}
		]]>
        <if test="type != null and type != ''">
            and type = #{type}
        </if>
        <if test="type == 0">
            and type = 0
        </if>
        <if test=" time != null and time != 'null' and time != ''">
            and "date" <![CDATA[<=]]> #{time}
        </if>
        order by "date"
    </select>



</mapper>