<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gs.dao.UserDAO">

    <select id="getByPhonePwd" resultType="com.gs.bean.User">
        <![CDATA[
        select uid, uname, upwd, phone, tzm, idtype, idno, zpwd, email, rname, tid, face,
        sex, isvip from t_user where phone = #{phone} and upwd = #{upwd}
        ]]>
    </select>

</mapper>