<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gs.dao.UserDAO">

    <!--登录验证-->
    <select id="getByPhonePwd" resultType="com.gs.bean.User">
        <![CDATA[
        select uid, upwd, phone from t_user where phone = #{phone} and upwd = #{upwd}
        ]]>
    </select>

    <!--验证密码-->
    <select id="getByIdPassword" resultType="com.gs.bean.User">
        <![CDATA[
        select upwd, zpwd from t_user where uid = #{id}
        ]]>
    </select>

    <!--获取用户信息-->
    <select id="getUserById" resultType="com.gs.bean.User">
        <![CDATA[
          select uid, phone, upwd, uname, rname, email, idno, zpwd, isvip from t_user where uid = #{id}
        ]]>
    </select>

    <select id="getById" resultType="com.gs.bean.User">
        select * from t_user where uid =#{id}
    </select>

    <!--修改信息-->
    <update id="update" parameterType="com.gs.bean.User">
        <![CDATA[
			update t_user
		]]>
        <set>
            <if test="uname != null">
                uname = #{uname},
            </if>
            <if test="upwd != null and upwd != ''">
                upwd = #{upwd},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="idno != null">
                idno = #{idno},
            </if>
            <if test="zpwd != null">
                zpwd = #{zpwd},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="rname != null">
                rname = #{rname},
            </if>
            <if test="face != null">
                face = #{face},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="isvip != null">
                isvip = #{isvip},
            </if>
        </set>
        where uid = #{uid}
    </update>

    <!--验证手机号是否存在-->
    <select id="getByPhone" resultType="com.gs.bean.User">
        <![CDATA[
          select phone from t_user where phone = #{phone}
        ]]>
    </select>

    <!--验证推荐码是否存在-->
    <select id="getByUserCode" resultType="com.gs.bean.User">
        <![CDATA[
          select uid, tzm from t_user where tzm = #{tzm}
        ]]>
    </select>

    <!--注册-->
    <insert id="save" parameterType="com.gs.bean.User">
        <selectKey keyColumn="uid" keyProperty="uid" resultType="long" order="AFTER">
            SELECT LAST_INSERT_ID();
        </selectKey>
        <![CDATA[
          insert into t_user(uname, phone, upwd, tzm) values(#{uname}, #{phone}, #{upwd}, #{tzm});
        ]]>
    </insert>

</mapper>